.App {
  text-align: center;
  background-color:#000000;
  color: white;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Mukta', sans-serif;
  display: flex;
  flex-direction: row;
}
.name-field{
  color: white;
}
button{
  cursor: pointer;
}
#navigate-createpost{
  background-color: #9f6cff;
  color: white;
  border: none;
  border-radius: 10vw;
  padding: 1vw;
  cursor: pointer;
}

#reroast:hover, #like:hover{
  background-color: #383153;
  cursor: pointer;
}
.App-header {
  display: flex;
  color: white;
  flex-direction: column;
  position: sticky;
  height: 100vh;
  justify-content: space-between;
  background-color: #ffffff0e;
  border-radius: 100vw;
}
#search-form{
  position: relative;
  justify-self: center;
  justify-content: center;
  flex-direction: row;
  left: 15vw;
}
#registerlink{
  color: white 
}
#register-btn{
  background-color: #cc9afa;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 2vw;
}
#navigate-profile, #navigate-select,#settings,#search-btn,#navigate-chat{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 1vw;
  padding: 3vw;
}
#navigate-profile:hover,#navigate-select:hover,#search-btn:hover,#navigate-chat:hover{
  transform: translate(0px, -2px);
  transition: transform 330ms ease-in-out;
}
#posts-container{
  width: 100vw;
  background-color: black;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh; 
  animation: 10s linear 1s infinite;
}
#loader-feed{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
#feed-footer{
  background-color: #ffffff0e;
  border-radius: 100vw;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: flex-end;
  justify-content: space-evenly;
}
@media screen  and (max-width: 960px) {
  .App-header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 5vh;
  }
  #navigate-createpost{
    border-radius: 0vw;
    cursor: pointer;
    margin-top: 0.5vh;
  }
  #settings{
    margin-top: 0.3vh;
  }
  #chat,  #settings-icon{
    width: 15px;
    color: white;
    height: 2.5vh;
  }
  #select-icon{
    width: 15px;
  }
  #profile-icon{
    width: 15px;
  }
  .App {
    height: 100vh;
    flex-direction: column;
  }
  #posts-container{
    display: flex;
    margin-top: 0vh;
    flex-direction: column;
    align-items: center;
    height:fit-content;
    width: 100vw;
    background-color: black;
  }
  #feed-footer{
    background-color: rgb(0, 0, 0);
    flex-direction: row;
    height: 6vh;
    position: absolute;
    width: 100vw;
    bottom: 0;
  }
}