.App {
  text-align: center;
  background-color:#000000;
  color: white;
  width: 100vw;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.name-field{
  color: white;
}
button{
  cursor: pointer;
}
#like{
  color:white;
  border: 2px solid #bb9ada;
  border-radius: 1vw;
  background-color: transparent;
  padding: 1vw;
  margin: 1vw;
}
#header-postscontainer{
  display: flex;
  flex-direction: column;
}
#navigate-createpost{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  cursor: pointer;
  margin-top: 2vh;
}

#reroast:hover, #like:hover{
  background-color: #383153;
  cursor: pointer;
}
.App-header {
  background-color: rgb(0, 0, 0);
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  width: 100vw;
  position: sticky;
  top: 0;
}
#search-form{
  position: relative;
  justify-self: center;
  justify-content: center;
  flex-direction: row;
  left: 15vw;
}
#navigate-chat{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 1vw;
  padding: 0vw;
  margin-top: 3.5vh;
  cursor: pointer;
}
#registerlink{
  color: white 
}
#register-btn{
  background-color: #cc9afa;
  color: white;
  border: none;
  border-radius: 2vw;
  padding: 2vw;
}
#navigate-profile, #navigate-select{
  background-color: transparent;
  color: white;
  border: none;
  padding: 1vw;
  margin-top: 1vh;
  cursor: pointer;
  border-radius: 1vw;
}
#feed-form{
  display: none;
}
#settings, #search-btn{
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 1vw;
  padding: 1vw;
  margin-top: 2vh;
  cursor: pointer;
}
#posts-container{
  display: flex;
  margin-top: 2vh;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100vw;
  background-color: black;
}
#chat,  #settings-icon{
  width: 50px;
  color: white;
  height: 2.5vh;
  filter: 
  invert(100%) 
  grayscale(100%) 
  brightness(50%) 
  sepia(100%) 
  hue-rotate(-155deg) 
  saturate(600%) 
  contrast(0.8) 
  drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.274));
}
#add-icon{
  filter: 
  invert(100%) 
  grayscale(100%) 
  brightness(40%) 
  sepia(100%) 
  hue-rotate(-155deg) 
  saturate(600%) 
  contrast(0.8) 
  drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.274));
}
#select-icon{
  width: 25px;
  filter: 
  invert(100%) 
  grayscale(100%) 
  brightness(40%) 
  sepia(100%) 
  hue-rotate(-155deg) 
  saturate(600%) 
  contrast(0.8) 
  drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.274));
}
#profile-icon{
  width: 25px;
  filter: 
  invert(100%) 
  grayscale(100%) 
  brightness(40%) 
  sepia(100%) 
  hue-rotate(-155deg) 
  saturate(600%) 
  contrast(0.8) 
  drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.274));
}
#feed-footer{
  position: sticky;
  z-index: 1;
  background-color: #000000;
  width: 100vw;
  display: flex;
  bottom: 0;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}
#loader-feed{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
@media screen  and (max-width: 960px) {
  #navigate-chat{
    margin: 0vw;
    padding: 0;
    width: 0vw;
    height: 5vh;
  }
  .App-header {
    background-color: rgb(0, 0, 0);
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #9f6cff;
    height: 5vh;
  }
  #navigate-createpost{
    border-radius: 0vw;
    cursor: pointer;
    margin-top: 0.5vh;
  }
  #chat{
    width: 3.5vw;
    color: white;
    height: 3vh;
  }
  #settings{
    margin-top: 0.3vh;
  }
  #chat,  #settings-icon{
    width: 15px;
    color: white;
    height: 2.5vh;
  }
  #select-icon{
    width: 15px;
  }
  #profile-icon{
    width: 15px;
  }
  .App {
    height: 100vh;
  }
}