#comments-page{
    background-color: black;
    min-height: 100vh;
    max-width: 100vw;
    margin-top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}
#add-comment-btn{
    background-color: transparent;
    border: none;
}
#comments-section{
    margin-left: 2vw;
}
#add-comment{
    background-color: transparent;
    color: white;
    border: 1px gray solid;
    min-width: 40vw;
    border-radius: 10vw;
    padding-right: 10vw;
    padding-left: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
#comment{
    color: white;
    background-color: rgb(134, 125, 143);
    border-radius: 10vw;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding-right: 1vw;
}
#comment-createdat{
    font-size: 0.8rem;
}
#comment-text{
    font-size: 1.2rem;
}
#comment-creator-pic{
    width: 40px;
    height: 40px;
    border-radius: 10vw;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin: 10px;
}
#comment-form{
    position: absolute;
    background-color: black;
    bottom: 0;
}
#goback-from-comments{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin: 1vw;
}
#previous-comments{
    display: inline;
    overflow: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    height: 90vh; 
    animation: 10s linear 1s infinite;
}
#load-comment{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen  and (max-width: 960px) {
    #comments-page{
        display: flex;
        flex-direction: column;
    }
    #post{
        margin: 0;
    }
    #add-comment{
        min-width: 70vw;
        margin: 2vw;
    }
    #comments-section{
        margin-top: 2vh;
        margin-left: 0vw;
    }
    #comment{
        justify-content: flex-start;
        align-items: center;
        width: 90vw;
        margin-right: 2vw;
    }
    #comment-form{
        position: sticky;
        background-color: black;
        bottom: 0;
    }
    #previous-comments{
        align-items: center;
    }
}