#profile-container{
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 
#profile-container-body{
    width: 45vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin-left: 0vw;
}
#goback-profile-to-home{
    background-color: rgb(0, 0, 0);
    border: none;
    padding: 0.5vw;
    position: absolute;
    left: 0;
    border-radius: 10vw;
    cursor: pointer;
    margin: 2vw;
    width: 10vw;
}
#profile-loader{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#username-profile,#otheruser-username{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin: 5vw;
}
#goback{
  width: 20px;
  filter: 
  invert(100%) 
  grayscale(100%) 
  brightness(100%) 
  sepia(100%) 
  hue-rotate(-50deg) 
  saturate(0%) 
  contrast(100) 
  drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.274));

}
#header{
    height: fit-content;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
    width: 100vw;
}

#userpost{
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw;
    margin: 1vw;
    align-items: center;
    background-color: rgb(8, 8, 8);
}
#userpost__header{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    margin-right: 2vw;
}
#otheruserprofile-pic{
    width: 15vh;
    height: 15vh;
    border-radius: 100vw;
    object-fit: cover;
}
#otheruser-profile-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    background-color: rgb(0, 0, 0);
    color: white;
    flex-direction: column;
    align-items: center;
}
#profile-post-pic{
    width: 30vw;
}
#goback-otherprofile-to-home{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 1vw;
    top: 1vh;
}
#otheruser-map{
    background-color: black;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#otherprofile-loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#userpost-background{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
}
#profileposts{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#myprofile{
    width: 7vw;
    height: 12vh;
    border-radius: 100%;
    object-fit: cover;
}
#roast-btn{
    color: white;
    border: none;
    background-color: #8355da;
    border-radius: 2vw;
    padding: 1vw;
}
@media screen  and (max-width: 960px) {

    #myprofile{
        width: 20vw;
        height: 10vh;
        border-radius: 100%;
        object-fit: cover;
    }
    #profile-post-pic{
        width: 80vw;
    }

    #userpost__header{
        width: 90vw;
    }
    
    #userpost{
        width: 90vw;
    }
    #otheruserprofile-pic{
        width: 40vw;
    }
    #otheruserprofile-pic{
        width: 10vh;
        height: 10vh;
        border-radius: 100vw;
        object-fit: cover;
    }
}