#select-page{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 
#select-card-body{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#person-card{
    background-color: #15131d;
    height: 80vh;
    width: 80vw;
    display: flex;
    border-radius: 2vw;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: center;
}
#select-card-name{
    font-size: 2em;
    margin-bottom: 5vh;
}
#select-card-bio{
    font-size: 1.3em;
}
#select-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
}
#select-card-footer button{
    cursor: pointer;
}
#select-card-roastbtn, #select-card-nextbtn {
    padding: 1.4vw;
    border: none;
    border-radius: 10px;
}
#select-card-nextbtn {
    background-color: rgb(170, 0, 0);
    color: white;
    box-shadow: 1px 1px 20px rgb(158, 0, 0);
}
#select-card-roastbtn{
    background-color: rgb(23, 149, 199);
    color: white;
    box-shadow: 1px 1px 20px rgb(23, 149, 199);
}
#person-card-header{
    display: flex;
    justify-content: flex-end;
    width: 75vw;
    position: relative;
}

#person-card-viewprofile{
    border: none;    
    padding: 1.5vw;
    background-color: rgb(150, 17, 202);
    box-shadow: 1px 1px 20px rgb(150, 17, 202);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}
#select-card-img{
    width: 20vw;
    height: 50vh;
    object-fit: cover;
}
@media screen  and (max-width: 960px) {
    #select-card-img{
        width: 60vw;
        height: 40vh;
        object-fit: cover;
    }
    #person-card{
        align-items: center;
        justify-content: space-around;
    }
}