.pic{
  width: 50px;
  height: 50px;
  border-radius: 100vw;
  object-fit: cover;
}
#messages-filoader{
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#message-body-container{
  display: flex;
  flex-direction: row-reverse;
  margin: 1vw;
}
#chat-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 8vh;
  background-color: #0c0c0c;
  box-shadow: 0px 0px 4px rgb(56, 56, 56);
}
#goback-block{
  margin-bottom: 50vh;
}
#othersuser-chat-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left:calc(2vw + 25px);
}
#chat-header-username{
  font-size: 1.3rem;
}
#send-btn{
  background-color: transparent;
  border: none;
  min-width: 5vw;
  position: relative;
}
#message-input{
  font-size: 1.1em;
  border: none;
  border-radius: 15px;
  width: 90vw;
}
#form-msg{
  max-width: 100vw;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background-color: #0c0c0c;
  box-shadow: 0px 0px 4px rgb(56, 56, 56);
}
#message{
  border-radius: 1vw;
  padding: 1vw; 
  max-width: 55vw;
  height: fit-content;
  text-align: center;
  min-width: 10vw;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.05rem;
}
#full-messages{
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
}
#current-chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vh;
  width: 100vw;
  height: 100vh;
  align-items: center;
}
#messages-container{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
  max-height: 80vh; 
  height: 80vh; 
  width: 100vw;
  overflow: auto;
  animation: 10s linear 1s infinite;
}

.mine{
  background-color:#9f6cff;
  position: relative;
  color: white;
}
#chat-profile-pic{
  border-radius: 50vw;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.elses{
  background-color: rgb(255, 255, 255);
  color: black;
}
#users-list-div{
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  width: 70vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#users-list-div :hover{
  background-color: rgb(13, 10, 24);
}
#FiLoader-chatlist-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#otherusers{
  color: black;
}
#icon{
  margin-top: 0.5vh;
}
#chat-otheruser-topbar-profilepic{
  width: 40px;
  object-fit: cover;
  height: 40px;
  border-radius: 100vw;
}
#date{
  font-size: 0.8rem;
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 0.2vw;
}
#start-roasting-btn{
  background-color: #9f6cff;
  border: none;
  border-radius: 10vw;
  padding: 0.8vw;
  width: 10vw;
  cursor: pointer;
  color: #ffffff;
}
#otherusers, #username-invitebtn-roast{
  background-color: white;
  width: 50vw;
}
#pic-name{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
}
@media screen  and (max-width: 960px) {
  #start-roasting-btn{
    height: 5vh;
    width: 20vw;
    font-size: 1.1rem;
  }
  #message{
    padding: 2vw; 
    max-width: 55vw;
    border-radius: 100vw;
  }
  #date{
    font-size: 0.7rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 1vw;
  }
  #message-input{
    width:75vw;
    padding-top: 2vh;
  }  
  #form-msg{
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    justify-content: space-evenly;
    margin-left: 0vw;
    width: 100vw;
  }
  #messages-container{
    max-height: 85vh;
    height: 85vh;
  }
  #form-msg{
    height: 5vh;
  }
}